@{
    ViewBag.Title = "评论";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "评论";
    ViewBag.Bottom = "2";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="review-plate">
    <div class="header flex">
        <div class="item-all">全部评价</div>
        <div class="item fg1">好评</div>
        <div class="item fg1">中评</div>
        <div class="item fg1">差评</div>
    </div>
    <div class="item-list">
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 rf-wrap">
                <div class="start-wrap flex">
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                </div>
                <div class="text-wrap">
                    "好喜欢这款产品啊,颜色很漂亮,价格也很实惠。会推荐给我的小伙伴们的。"
                </div>
            </div>
        </div>
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 rf-wrap">
                <div class="start-wrap flex">
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                </div>
                <div class="text-wrap">
                    "好喜欢这款产品啊,颜色很漂亮,价格也很实惠。会推荐给我的小伙伴们的。"
                </div>
            </div>
        </div>
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 rf-wrap">
                <div class="start-wrap flex">
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                    <div class="ic-review"></div>
                </div>
                <div class="text-wrap">
                    "好喜欢这款产品啊,颜色很漂亮,价格也很实惠。会推荐给我的小伙伴们的。"
                </div>
            </div>
        </div>
    </div>
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2132597"></script>
    <!-- UY END -->
</div>

