@{
    ViewBag.Title = "积分商城";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "积分商城";
    ViewBag.Bottom = "1";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="integral-mall">
    <div class="swiper-bg">
        <img src="/Content/Include/img/img-index2-bg.png" />
    </div>
    <div class="course-wrap hf">
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
        <a class="item fp" href="/Product/IntegralDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
            <div class="price hf cfa">
                <div class="fp lfp fonr">书法1</div>
                <div class="fp rfp flo">1000积分</div>
            </div>
        </a>
    </div>
</div>
