@{
    ViewBag.Title = "积分详情";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "商品详情";
    ViewBag.Bottom = "3";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="commodity-details">
    <div class="detail-wrap">
        <div class="swiper-bg">
            <img src="/Content/Include/img/img-index2-bg.png" />
        </div>
        <div class="describe-wrap pd pf">
            <div class="title">描述</div>
            <div class="content">
                <p class="text1">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
                <p class="text2">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
            </div>
        </div>
    </div>
    <div class="detail-wrap">
        <div class="swiper-bg">
            <img src="/Content/Include/img/img-index2-bg.png" />
        </div>
        <div class="describe-wrap pd">
            <div class="title">描述</div>
            <div class="content">
                <p class="text1">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
                <p class="text2">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
            </div>
        </div>
    </div>
</div>
