@{
    ViewBag.Title = "讲座列表";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "讲座课程";
    ViewBag.Bottom = "1";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="class-list">
    <div class="swiper-bg">
        <img src="/Content/Include/img/img-index2-bg.png" />
    </div>
    <div class="option-wrap flex">
        <a class="item fg1">全部</a>
        <a class="item fg1 active">心理</a>
        <a class="item fg1">养生</a>
        <a class="item fg1">教育</a>
        <a class="item fg1">修炼</a>
    </div>
    <div class="course-wrap hf">
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
        <a class="item fp" href="/Product/LectureDetails">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-class1.jpg" />
            </div>
            <div class="text-wrap">
                《西方心理学系统讲解》
            </div>
        </a>
    </div>
</div>
