@{
    ViewBag.Title = "详情";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "课程详情--心理";
    ViewBag.Bottom = "2";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="course-details">
    <div class="flex class-wrap">
        <div class="img-wrap">
            <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-like.jpg)"></div>
        </div>
        <div class="text-wrap fg1">
            <div class="title">《西方心理学系统讲座》</div>
            <div class="item">导师:王道华</div>
            <div class="item">购买:30次</div>
            <div class="item">类别:养生</div>
            <div class="price">系统订阅¥199.00</div>
        </div>
    </div>
    <div class="detail-wrap flex">
        <div class="fg1">详情</div>
        <div class="fg1">评论</div>
        <div class="fg1">打赏</div>
    </div>
    <div class="describe-wrap">
        <div class="title">描述</div>
        <div class="content">
            <p class="text1">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
            <p class="text2">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
        </div>
    </div>
    <div class="describe-wrap bside">
        <div class="title">订阅须知</div>
        <div class="content">
            <p class="text1">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
            <p class="text2">内容提要:西方心理学常用的概念,理论,方法;西方心理学主要派别的内涵及其优点;</p>
        </div>
    </div>
    <div class="list-wrap">
        <div class="sorch flex">
            <div class="ic-right-arrow"></div>
            <div class="cont-text fg1">课程音频列表</div>
            <a class="look-more" href="/Product/AudioList">查看更多</a>
        </div>
        <div class="item flex -c-center">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-person.jpg)"></div>
            </div>
            <div class="text-wrap fg1">
                <div class="cont-text fonclr">《西方心理学系统讲解》</div>
                <div class="cont-text">1.什么叫心理和心理学</div>
                <div class="cont-text hf fonclg">
                    <span class="fp">播放次数:300</span><span class="fp">播放时间:6分钟</span>
                </div>
            </div>
            <a class="bt-box" href="/Product/AudioList">
                收听
            </a>
        </div>
        <div class="item flex -c-center">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-person.jpg)"></div>
            </div>
            <div class="text-wrap fg1">
                <div class="cont-text fonclr">《西方心理学系统讲解》</div>
                <div class="cont-text">1.什么叫心理和心理学</div>
                <div class="cont-text hf fonclg">
                    <span class="fp">播放次数:300</span><span class="fp">播放时间:6分钟</span>
                </div>
            </div>
            <a class="bt-box" href="/Product/AudioList">
                收听
            </a>
        </div>
    </div>

</div>
