@{
    ViewBag.Title = "我的课程订阅";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "我的课程订阅";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="course-due">
    <div class="list-wrap">
        <a href="/Product/LectureDetails" class="item fbox -c-center">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-16by10" style="background-image:url(/Content/Include/img/img-like.jpg)"></div>
            </div>
            <div class="text-wrap bf1">
                <div class="fir-wrap flex">
                    <div class="title fg1">《抑郁症的系统讲解》</div>
                </div>
                <div class="cont-wrap">1.抑郁症的概念</div>
                <div class="time">
                    2017-3-20
                </div>
            </div>
        </a>
        <a href="/Product/LectureDetails" class="item fbox -c-center">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-16by10" style="background-image:url(/Content/Include/img/img-like.jpg)"></div>
            </div>
            <div class="text-wrap bf1">
                <div class="fir-wrap flex">
                    <div class="title fg1">《抑郁症的系统讲解》</div>
                </div>
                <div class="cont-wrap">1.抑郁症的概念</div>
                <div class="time">
                    2017-3-20
                </div>
            </div>
        </a>
        <a href="/Product/LectureDetails" class="item fbox -c-center">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-16by10" style="background-image:url(/Content/Include/img/img-like.jpg)"></div>
            </div>
            <div class="text-wrap bf1">
                <div class="fir-wrap flex">
                    <div class="title fg1">《抑郁症的系统讲解》</div>
                </div>
                <div class="cont-wrap">1.抑郁症的概念</div>
                <div class="time">
                    2017-3-20
                </div>
            </div>
        </a>
        <a href="/Product/LectureDetails" class="item fbox -c-center">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-16by10" style="background-image:url(/Content/Include/img/img-like.jpg)"></div>
            </div>
            <div class="text-wrap bf1">
                <div class="fir-wrap flex">
                    <div class="title fg1">《抑郁症的系统讲解》</div>
                </div>
                <div class="cont-wrap">1.抑郁症的概念</div>
                <div class="time">
                    2017-3-20
                </div>
            </div>
        </a>
    </div>
</div>
