@{
    ViewBag.Title = "健康知识";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "健康知识";
    ViewBag.Bottom = "1";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="platform-wrap">
    <div class="swiper-bg">
        <img src="/Content/Include/img/img-index2-bg.png" />
    </div>
    <div class="detail-wrap flex">
        <div class="fg1">平台新闻</div>
        <div class="fg1">平台心愿</div>
        <div class="fg1">平台留言</div>
    </div>
    <div class="list-wrap">
        <a class="item fbox -c-center" href="/Product/NewsDetails">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-person.jpg)"></div>
            </div>
            <div class="text-wrap bf1">
                <div class="cont-text fonclr">本周活动</div>
                <div class="cont-text mc">国内首家H5在线创作平台MAKA发布</div>
                <div class="cont-text hf fonclg cfa">
                    <span class="fp lfp">阅读量:30</span><span class="fp rfp">2017-3-20</span>
                </div>
            </div>
        </a>
        <a class="item flex -c-center" href="/Product/NewsDetails">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-person.jpg)"></div>
            </div>
            <div class="text-wrap fg1">
                <div class="cont-text fonclr">本周活动</div>
                <div class="cont-text">国内首家H5在线创作平台MAKA发布</div>
                <div class="cont-text hf fonclg cfa">
                    <span class="fp lfp">阅读量:30</span><span class="fp rfp">2017-3-20</span>
                </div>
            </div>
        </a>
        <a class="item flex -c-center" href="/Product/NewsDetails">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-person.jpg)"></div>
            </div>
            <div class="text-wrap fg1">
                <div class="cont-text fonclr">本周活动</div>
                <div class="cont-text">国内首家H5在线创作平台MAKA发布</div>
                <div class="cont-text hf fonclg cfa">
                    <span class="fp lfp">阅读量:30</span><span class="fp rfp">2017-3-20</span>
                </div>
            </div>
        </a>
        <a class="item flex -c-center" href="/Product/NewsDetails">
            <div class="img-wrap">
                <div class="mc-img-responsive -img-1by1" style="background-image:url(/Content/Include/img/img-person.jpg)"></div>
            </div>
            <div class="text-wrap fg1">
                <div class="cont-text fonclr">本周活动</div>
                <div class="cont-text">国内首家H5在线创作平台MAKA发布</div>
                <div class="cont-text hf fonclg cfa">
                    <span class="fp lfp">阅读量:30</span><span class="fp rfp">2017-3-20</span>
                </div>
            </div>
        </a>
    </div>
</div>
