@{
    ViewBag.Title = "新闻详情";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "平台新闻列表";
    
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="news-list">
    <div class="news-wrap">
        <div class="title">2017年,H5还有得搞吗?</div>
        <div class="author-wrap hf cfa">
            <div class="admin fp lfp">作者</div>
            <div class="time fp rfp">2017-3-20</div>
        </div>
        <p>国内首家H5在线创作平台MAKA发布《2016年度H5数据报告》.基于平台1000多万企业用户,通过多唯独的数据对比分析,对2016年H5行业进行复盘.</p>
        <p>国内首家H5在线创作平台MAKA发布《2016年度H5数据报告》.基于平台1000多万企业用户,通过多唯独的数据对比分析,对2016年H5行业进行复盘.</p>
        <p>国内首家H5在线创作平台MAKA发布《2016年度H5数据报告》.基于平台1000多万企业用户,通过多唯独的数据对比分析,对2016年H5行业进行复盘.</p>

    </div>
    <div class="bottom-wrap hf">
        <div class="item fp">上一篇****</div>
        <div class="item fp">下一篇****</div>
    </div>
</div>
