@{
    ViewBag.Title = "答疑详情";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "问答--心理";
    ViewBag.Bottom = "2";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="opinion">
    <div class="ask-wrap">
        <div class="top flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="text-wrap fg1 hf cfa">
                <div class="fp lfp">王先生</div>
                <div class="fp rfp rside">
                    <div class="tag">已回答</div>
                    <div class="tag cr">¥19</div>
                </div>
            </div>
        </div>
        <div class="mid-wrap">
            王老师,您好!不喜欢现在的工作,要跨行,新领域小白如何才能通过面试?
        </div>
        <div class="audio-wrap hf">
            <div class="ftp">答疑:</div>
            <a class="fp bt-box pd" href="#">答疑音频</a>
        </div>
        <audio controls="controls">
            <source src="/Content/Include/song/佛教歌曲 - 大悲咒.mp3" type="audio/mp3" />
        </audio>
        <div class="bottom-wrap">
            图文:不喜欢现在的工作,要跨行,新领域小白如何才能通过面试
        </div>
    </div>
    <div class="comment-wrap hf cfa">
        <div class="lf-item fp lfp">感想评论</div>
        <div class="rf-item fp rfp">打赏</div>
    </div>
    <div class="review">
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 fp text-wrap">还不错哦!</div>
            <div class="time">2017-3-20</div>
        </div>
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 fp text-wrap">还不错哦!</div>
            <div class="time">2017-3-20</div>
        </div>
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 fp text-wrap">还不错哦!</div>
            <div class="time">2017-3-20</div>
        </div>
        <div class="item flex">
            <div class="img-wrap">
                <img src="/Content/Include/img/img-person.jpg" />
            </div>
            <div class="fg1 fp text-wrap">还不错哦!</div>
            <div class="time">2017-3-20</div>
        </div>
        
    </div>
</div>
