@{
    ViewBag.Title = "答疑列表";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "问答";
    ViewBag.Bottom = "1";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="comment">
    <div class="ask-wrap flex">
        <div class="sorch-wrap fg1">
            <span class="ic-wrap ic-sorch"></span>
            <input type="text" placeholder="请输入" />
        </div>
        <a class="rf-wrap" href="/">提问</a>
    </div>
    <div class="swiper-bg">
        <img src="/Content/Include/img/img-index2-bg.png" />
    </div>
    <div class="option-wrap flex">
        <a class="item fg1">全部</a>
        <a class="item fg1 active">心理</a>
        <a class="item fg1">养生</a>
        <a class="item fg1">教育</a>
        <a class="item fg1">修炼</a>
    </div>
    <div class="question-box">
        <div class="top-ques">王老师,您好!不喜欢现在的工作,要跨行,新领域小白如何才能通过面试?</div>
        <div class="flex ques-cont">
            <div class="person">
                <div class="img-wrap">
                    <img src="/Content/Include/img/img-person.jpg" />
                </div>
                <div class="person-text">王先生</div>
            </div>
            <div class="fg1">
                <a class="bt-box br" href="/Product/QuestionDetails">订阅付费5看回答</a>
                <a class="bt-box -bg" href="/Product/QuestionDetails">点击查看>></a>
            </div>
            <div class="eye-box hf">
                <div class="ic-eye fp"></div>
                <div class="eye-number fp">100</div>
            </div>
        </div>
    </div>
    <div class="question-box">
        <div class="top-ques">王老师,您好!不喜欢现在的工作,要跨行,新领域小白如何才能通过面试?</div>
        <div class="flex ques-cont">
            <div class="person">
                <div class="img-wrap">
                    <img src="/Content/Include/img/img-person.jpg" />
                </div>
                <div class="person-text">王先生</div>
            </div>
            <div class="fg1">
                <a class="bt-box br" href="/Product/QuestionDetails">订阅付费5看回答</a>
                <a class="bt-box -bg" href="/Product/QuestionDetails">点击查看>></a>
            </div>
            <div class="eye-box hf">
                <div class="ic-eye fp"></div>
                <div class="eye-number fp">100</div>
            </div>
        </div>
    </div>
    <div class="question-box">
        <div class="top-ques">王老师,您好!不喜欢现在的工作,要跨行,新领域小白如何才能通过面试?</div>
        <div class="flex ques-cont">
            <div class="person">
                <div class="img-wrap">
                    <img src="/Content/Include/img/img-person.jpg" />
                </div>
                <div class="person-text">王先生</div>
            </div>
            <div class="fg1">
                <a class="bt-box br" href="/Product/QuestionDetails">订阅付费5看回答</a>
                <a class="bt-box -bg" href="/Product/QuestionDetails">点击查看>></a>
            </div>
            <div class="eye-box hf">
                <div class="ic-eye fp"></div>
                <div class="eye-number fp">100</div>
            </div>
        </div>
    </div>
    <div class="question-box">
        <div class="top-ques">王老师,您好!不喜欢现在的工作,要跨行,新领域小白如何才能通过面试?</div>
        <div class="flex ques-cont">
            <div class="person">
                <div class="img-wrap">
                    <img src="/Content/Include/img/img-person.jpg" />
                </div>
                <div class="person-text">王先生</div>
            </div>
            <div class="fg1">
                <a class="bt-box br" href="/Product/QuestionDetails">订阅付费5看回答</a>
                <a class="bt-box -bg" href="/Product/QuestionDetails">点击查看>></a>
            </div>
            <div class="eye-box hf">
                <div class="ic-eye fp"></div>
                <div class="eye-number fp">100</div>
            </div>
        </div>
    </div>
    
</div>
