@{
    ViewBag.Title = "地址管理";
    ViewBag.Header = "2";
    ViewBag.HeadTitle = "地址管理";
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="address-manage">
    <div class="item">
        <div class="fill-in">
            <div class="hf user">
                <div class="fp name">孙佳杰</div>
                <div class="fp phone">187****2319</div>
            </div>
            <div class="home">
                浙江杭州市拱墅区浙江省杭州市拱墅区湖州街和杭行路交叉口方正360空间大厦2幢1403室
            </div>
        </div>
        <div class="modify flex">
            <div class="fg1 default">
                <input type="radio" />默认地址
            </div>
            <a href="#" class="bt-box pr change">修改</a>
            <a href="/Address/AddressEdit" class="bt-box edit change">编辑</a>
        </div>
    </div>
    <div class="item">
        <div class="fill-in">
            <div class="hf user">
                <div class="fp name">孙佳杰</div>
                <div class="fp phone">187****2319</div>
            </div>
            <div class="home">
                浙江杭州市拱墅区浙江省杭州市拱墅区湖州街和杭行路交叉口方正360空间大厦2幢1403室
            </div>
        </div>
        <div class="modify flex">
            <div class="fg1 default">
                <input type="radio" />默认地址
            </div>
            <div class="bt-box pr change">修改</div>
            <div class="bt-box edit change">编辑</div>
        </div>
    </div>
</div>
       


